.main-display {
  position: relative;
}
.main-display::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: url("../public/images/jumbo-bg.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: (auto, 120%);

  opacity: 0.8;
}
.main-display h1 {
  font-weight: 700;
  font-size: 4.5vw;
  letter-spacing: 4px;
  color: white;
}
.giftcard-btn {
  color: rgba(0, 0, 0, 0.65);
  background-color: white;
}
.giftcard-btn:hover {
  opacity: 0.7;
}

#productCarousel .carousel-inner {
  height: 45vw;
}

.carousel-inner .carousel-item img {
  height: 45vw;
  width: 100%;
  object-fit: cover;
}
.carousel-item:after {
  display: block;
}
.car-image {
  position: relative;
  height: 45vw;
  overflow: hidden;
}
.car-image img {
  max-height: 100%;
  /* filter: blur(4px); */
}
.car-image.prev img {
  position: absolute;
  right: 0;
  top: 0;
}
.car-image.next {
  background: transparent;
}
.car-image.next img {
  background: transparent;
}
.animateComeIn {
  animation: comeInRight 0.5s linear;
  z-index: 1;
}
.animateLeave {
  animation: exitLeft 0.5s linear;
  z-index: -1;
}
@keyframes comeInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes exitLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 1000px) {
  .main-display::after {
    background-size: 120%;
  }
  .car-image img {
    height: 100%;
  }
}
